@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');



body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* navbar */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-image: url(/paper.jpg);
}

.logo{
    height: 80px;
}

.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #ece7d5;
    padding: 9px 25px;
    background-color:#4e2d07;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

li, a{
    font-family: "montserral";
    font-weight: 500;
    font-size: 20px;
    color:rgba(77, 42, 3, 0.973);
    text-decoration: none;
}

h1,h2,h3{
    font-weight: 900;
    color: black;
}
.wrapper{ 
    width: 100%;
    margin: 0 auto;
}

.main{
    display: block;
    background-color: white;
}
.container{
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 10px 20px;
    background-image:url(/paper.jpg);
    text-align: center;
    font-size: 30px;

}


section.module h1{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: o;

}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content{
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover ;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 10%, #b57230c9 100%);
}
section.module.parallax-1{
    background-image:url(/pgfoil.png);

}

section.module.parallax-2{
    background-image:url(/aboutmepg.jpg);
    text-align: center;
}

section.module.parallax-3{
    background-image:url(/background1.jpg);
}

section.module.parallax.parallax-2 h2{
    color:#ece7d5;
    text-align:center;
    font-size: 40px;
    z-index: 50;
}

section.module.parallax h1{
    color: rgba(77, 42, 3, 0.973);
    text-align: center;
    font-size: 70px;
    z-index: 50;
    text-transform: uppercase;
}

section.module.parallax h2{
    color: rgba(77, 42, 3, 0.973);
    text-align: center;
    font-size: 40px;
}

/* ----------- my journey ------- */

.journeyclass{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content{
    margin: 0 40px;
}
.card{
    border-radius: 25%;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4e2d07;

}